Source: gem-imager
Section: admin
Priority: optional
Maintainer: T3 Gemstone <info@t3gemstone.org>
Build-Depends: debhelper (>= 10), cmake, libgnutls28-dev, dh-exec
Standards-Version: 4.1.2
Homepage: https://www.t3gemstone.org/software

Package: gem-imager
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, dosfstools, fdisk, fuse, libfuse2, util-linux (>= 2.38)
Recommends: udisks2
Description: T3 Gemstone Imaging utility
 A user-friendly tool for creating bootable media for T3 Gemstone Devices.
