[Desktop Entry]
Type=Application
Version=1.0
Name=Gemstone Imager
Name[zh_CN]=树莓派启动盘制作工具
Comment=Gemstone Imager
Comment[zh_CN]=树莓派启动盘制作工具
Icon=gem-imager
Exec=gem-imager %F
Categories=Utility
StartupNotify=false
